{{ form_row(form.image) }}

<div class="box-body">
    <div class="form-group">
        {{ form_errors(form.title) }}
        {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_errors(form.url) }}
        {{ form_row(form.url, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_errors(form.active) }}
        <label for="banneradvertising_active">
            {{ form_widget(form.active, {'attr': {'class': 'form-control'}}) }}
            Ativo
        </label>
    </div>
    <div class="form-group">
        {{ form_errors(form.imageTemp) }}
        {{ form_row(form.imageTemp, {'attr': {'class': 'form-control'}}) }}
        {% if entity.image != null %}
            <a href="{{ asset('uploads/banneradvertising/' ~ entity.image) }}">{{ entity.image }}</a>
        {% endif %}
    </div>
</div><!-- /.box-body -->
