{{ form_widget(form.sv_video, {'attr': {'class': 'id-selected-video'}}) }}
<div class="box-body">
    <div class="form-group">
        {{ form_errors(form.name) }}
        <label for="lesson_name">Nome</label>
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_errors(form.description) }}
        <label for="lesson_description">Descrição</label>
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
    {% include 'AppBundle:Backend/SambaVideos:typeaheadInput.html.twig' %}
</div><!-- /.box-body -->
