{% extends '::Backend/base.html.twig' %}

{% block body %}
<main class="main-content p-5" role="main">
    <div class="row">
        <div class="col-md-12">
            <h1>Usuários</h1>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 pb-5">
                            <h2>Listagem de usuários</h2>
                            <div class="table-responsive">
                                <table id="datatableAdmin" class="table table-datatable table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Email - Usuário</th>
                                            <th>Status</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for entity in entities %}
                                            <tr class="list-categories">
                                                <td>{{ entity.id }}</td>
                                                <td>{{ entity.email }}</td>
                                                <td>{{ entity.status }}</td>
                                                <td>
                                                    <div class="btn-group" role="group">
                                                        <button id="btnGroupVerticalDrop2" type="button" class="btn btn-secondary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                            Veja as opções
                                                        </button>
                                                        <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop2" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 39px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                            <a class="dropdown-item" href="{{ path('backend_user_edit', { 'id': entity.id }) }}">Editar</a>
                                                            {% if entity.status == "Habilitado" %}
                                                                <a href="{{ path('backend_user_status', { 'id': entity.id }) }}" class="dropdown-item">Desabilitar</a>
                                                            {% else %}
                                                                <a href="{{ path('backend_user_status', { 'id': entity.id }) }}" class="dropdown-item">Habilitar</a>
                                                            {% endif %}
                                                            {% if entity.id != app.user.id %}
                                                                <a class="dropdown-item" href="{{ path('backend_category_delete', { 'id': entity.id }) }}" onclick="return confirm('Tem certeza?')">Deletar</a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <a href="{{ path('backend_user_new') }}" class="btn btn-secondary waves-effect waves-light">Novo usuário</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}