{% extends '::base-login.html.twig' %}

{% block body -%}
    {% if app.user is null %}
        <aside class="right-side">
            <!-- Content Header (Page header) -->
            <section id="login-user">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12 panel-theme col-centered text-left">
                            <h1 class="login">Alterar senha</h1>
                                <form class="" action="{{ path('fos_user_change_password') }}" method="post" {{ form_enctype(form) }}>

                                    {{ form_widget(form._token) }}

                                    {% block messages %}
                                        {{ parent() }}
                                        {{ form_errors(form) }}
                                    {% endblock %}

                                        <div class="input-group last">
                                            {{ form_errors(form.current_password) }}
                                            <label for="bank_active">Senha Atual</label>
                                            <span class="input-group-addon" id="btnGroupAddon"><i class="fa fa-unlock-alt"></i></span>
                                            {{ form_widget(form.current_password, { 'attr': {'class': 'form-control'} }) }}
                                            <p class="help-block">{{ form_errors(form.plainPassword.first) }}</p>
                                        </div>

                                        <div class="input-group last">
                                            {{ form_errors(form.plainPassword.first) }}
                                            <label for="bank_active">Nova senha</label>
                                            <span class="input-group-addon" id="btnGroupAddon"><i class="fa fa-unlock-alt"></i></span>
                                            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                                        </div><!-- form-group -->

                                        <div class="input-group last">
                                            {{ form_errors(form.plainPassword.second) }}
                                            <label for="bank_active">Confirmar nova senha</label>
                                            <span class="input-group-addon" id="btnGroupAddon"><i class="fa fa-unlock-alt"></i></span>
                                            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                                        </div> <!-- form-group -->

                                    </div>

                                    <div class="col-md-12 col-sm-12 col-xs-12 text-center nopadding-p mg-t10">
                                        <button type="submit" class="btn btn-main">Mudar senha</button>
                                        <a href="{{ path('backend_home') }}" class="btn btn-default">Voltar</a>
                                    </div>

                                </form>

                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div>
                </div>
            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    {% else %}
        Você já está logado no momento, clique em 'MINHA CONTA' e aproveite.
    {% endif %}
{% endblock %}
