{% extends '::base-login.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
     {% if app.user is null %}

        <nav id="menu" class="fake_menu"></nav>
        <div id="preloader">
            <div data-loader="circle-side"></div>
        </div>
        <div id="login">
            <aside>
                <figure>
                    <a href="#"><img src="{{asset('bundles/app/frontend/img/logo.png')}}" width="80" height="60" data-retina="true" alt=""></a>
                </figure>
                {% if error is defined %}
                    <section class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        Não funcionou
                    </section>
                {% endif %}
                  <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="post">
                    {{ form_widget(form._token) }}

                    {% block messages %}
                        {{ parent() }}
                        {{ form_errors(form) }}
                    {% endblock %}

                    {% if invalid_username is defined %}
                        Usuário não cadastrado
                    {% endif %}
                    <div class="form-group">

                        <span class="input">
                        <input class="input_field" type="password" autocomplete="new-password" name="fos_user_resetting_form[plainPassword][first]" required="required">
                            <label class="input_label">
                            <span class="input__label-content">Senha</span>
                        </label>
                        </span>
                        <span class="input">
                        <input class="input_field" type="password" autocomplete="new-password" name="fos_user_resetting_form[plainPassword][second]" required="required">
                            <label class="input_label">
                            <span class="input__label-content">Confirmar senha</span>
                        </label>
                        </span>
                    </div>
                    <input type='submit' value='Alterar senha' class="btn_1 rounded full-width add_top_60">
                </form>
                <div class="copy">© 2018 Vanbora</div>
            </aside>
        </div>
    {% else %}
        <div id="login">
            <aside>
                <figure>
                    <a href="#"><img src="{{asset('bundles/app/frontend/img/logo.png')}}" width="80" height="60" data-retina="true" alt=""></a>
                </figure>
                Você já está logado no momento, <a href='{{ path('homepage') }}'>clique aqui</a> e aproveite.
                <div class="copy">© 2018 Vanbora</div>
            </aside>
        </div>
    {% endif %}


{% endblock body %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}