    <div class="box-body col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
            {{ form_errors(form.name) }}
            <label for="course_name">Nome</label>
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
            {{ form_errors(form.description) }}
            <label for="course_description">Descrição</label>
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_errors(form.active) }}
            <label for="course_active">
                {{ form_widget(form.active, {'attr': {'class': 'form-control'}}) }}
                Ativo?
            </label>
        </div>
        <div class="form-group">
            {{ form_errors(form.product) }}
            <label for="course_active">
                {{ form_widget(form.product, {'attr': {'class': 'form-control'}}) }}
            </label>
        </div>
    </div>
