{% extends '::Backend/base.html.twig' %}

{% block body -%}
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>{{entity.name}} - Compras</h1>
    </section>

    <section class="content">
      <div class="col-md-12">
          <div class="panel panel-tile">
              <div class="panel-body pn pl20 p5">
                <div class="col-sm-6 col-md-3">
                  <h2 class="mt15 lh15">
                      <b class="ng-binding">{{entity.inscriptions|length}}</b>
                  </h2>
                  <h5 class="text-muted">Total</h5>
                </div>
                <div class="col-sm-6 col-md-3">
                  <h2 class="mt15 lh15">
                      <b class="ng-binding">{{totalAprovado}}</b>
                  </h2>
                  <h5 class="text-muted">Aprovados</h5>
                </div>
                <div class="col-sm-6 col-md-3">
                  <h2 class="mt15 lh15">
                      <b class="ng-binding">{{totalAguardandoPagamento}}</b>
                  </h2>
                  <h5 class="text-muted">Aguardando Pagamento</h5>
                </div>
                <div class="col-sm-6 col-md-3">
                  <h2 class="mt15 lh15">
                      <b class="ng-binding">{{totalCancelado}}</b>
                  </h2>
                  <h5 class="text-muted">Cancelados</h5>
                </div>
              </div>
          </div>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Listagem de matrículas</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Data de Criação</th>
                                    <th>Data de Atualização</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for inscription in entity.inscriptions %}
                                <tr>
                                    <td>{{ inscription.user }}</td>
                                    <td>{{ inscription.dtCreation|date("d/m/Y H:i") }}</td>
                                    <td>{{ inscription.dtUpdate|date("d/m/Y H:i") }}</td>
                                    <td>
                                      {% if inscription.inscriptionStatus.id == 1 %}
                                        <span class="label label-warning">
                                      {% elseif inscription.inscriptionStatus.id == 2 %}
                                        <span class="label label-success">
                                      {% else %}
                                        <span class="label label-danger">
                                      {% endif %}
                                        {{ inscription.inscriptionStatus }}
                                      </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>
    </section><!-- /.content -->
</aside><!-- /.right-side -->
{% endblock %}
